body{
    background-color:gold;
    font-family: 'Righteous', cursive;


}

.container{
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr;

}

header {
    text-align: center;
    margin: 0;
}

header h1{
    margin: 0;
    padding: 0;
}

.instructions{
   display: flex;
   justify-content: center;
   font-size: 1.3rem;
}

.game-top{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}

.random-num{
background-color:grey;
padding: 10px;
display: flex;
    flex-direction: column;
    align-items: center;
}

.total-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

.win-loss{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crystals{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
  
    
}